body {
  background: #9dc0f9;
}

.wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.calculator {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  font-size: 40px;
  background: white;
}

.calculator td {
  border: 1px solid black;
  padding: 15px 30px;
  height: 60px;
  width: 50px;
  background: #d8d8d8;
}

.result-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.result {
  margin: 0 auto;
  height: 50px;
  width: 484px;
  border: 1px solid black;
  vertical-align: center;
  font-size: 40px;
  font-weight: normal;
  background: #d8d8d8;
}

.btn:hover, .btn:active, .btn:focus {
  background: #a8a8a8;
}